<ion-content class='login w3-animate-bottom background' overflow-scroll="false">

    <div class='back'>
        <a (click)='goBack()'>
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
    </div>

    <form class='login-content' (ngSubmit)='login()'>
      <h2>  
        Log in
      </h2>
      
      <ion-item class='username no-padding'>

        <ion-label floating>Username</ion-label>
        <ion-input [(ngModel)]='user.username' name='username'></ion-input>

      </ion-item>

      <ion-item class='password no-padding'>

        <ion-label floating>Password</ion-label>
        <ion-input type='password' [(ngModel)]='user.password' name='password'></ion-input>

      </ion-item>

      <div class='forgot-pass'> <a href='#'> Forgot password? </a> </div>

      <div class='login-button-wrapper'>
        <button type='submit' class='login-button' [disabled]='!user.username || !user.password'> Log In </button> 
      </div>     

    </form>

    <div class='or'>
        <p> OR </p>
    </div>

    <div class='googleLI-button-wrapper'>
      <button class='google-login-button'> 
        <i class="fa fa-google" aria-hidden="true"></i>
        <p> Log In with Google </p>
      </button>
    </div>

    <div class='facebookLI-button-wrapper'>
      <button class='facebook-login-button'> 
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <p> Log In with Facebook </p>
      </button>
    </div>

    <div class='signIn-ToS'>
      <p> By signing in, I agree to Scan'N'Take's 
        <a href='#'>Terms of Service </a>, 
        <a href='#'> Non-Discrimination Policy </a>,
        <a href='#'> Payments Terms of Service </a>, 
        <a href='#'> Privacy Policy </a>, 
        <a href='#'> Shop Refund Policy </a>, and 
        <a href='#'> Host Guarantee Terms </a>. 
      </p>
    </div>

    <!--<div class='register-link-wrapper'>
      <a (click)='redirectToRegister()'> or register here if not a member. </a> 
    </div>-->
</ion-content>