<ion-content class='login w3-animate-left' overflow-scroll="false">

    <form class='login-content' (ngSubmit)='login()'>
      <h2>  
        Login
      </h2>
      
      <ion-item class='username no-padding'>

        <ion-label floating>Username</ion-label>
        <ion-input [(ngModel)]='user.username' name='username'></ion-input>

      </ion-item>

      <ion-item class='password no-padding'>

        <ion-label floating>Password</ion-label>
        <ion-input type='password' [(ngModel)]='user.password' name='password'></ion-input>

      </ion-item>

      <button type='submit' class='login-button' [disabled]='!user.username || !user.password' ion-button full> Log In </button>      

    </form>

    <div class='register-link-wrapper'>
      <a (click)='redirectToRegister()'> or register here if not a member. </a> 
    </div>
</ion-content>