.login {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.login-content {
  width: 80%;
  margin: 0 auto;
}

.login ion-input {
  width: 100%;
}

.login-button {
  margin-top: 20px;
}

.register-link-wrapper {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}