login-page .login-form-wrapper {
  margin-top: 150px;
}

login-page .form-background {
  width: 80%;
  height: 50%;
  background: rgba(0, 0, 0, 0.65);
  text-align: center;
  margin: auto;
}

login-page .login {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

login-page .login-content {
  width: 80%;
  margin: 0 auto;
}

login-page .username {
    background-color: rgba(255, 0, 0, 0);
    border-bottom: 1px solid white;
    color: white;
}

login-page .password {
    background-color: rgba(255, 0, 0, 0);
    border-bottom: 1px solid white;
    color: white;
}

login-page .forgot-pass {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

login-page .forgot-pass a {
  color: #FFF;
  font-size: 15px;
}

login-page .login ion-input {
  width: 100%;
}

login-page .login-button-wrapper {
  width: 100%;
  text-align: center;
}

login-page .login-button {
  margin-top: 35px;
  margin-bottom: 40px;
  width: 60%;
	border: 1px solid #FFF;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  box-shadow: 0px 0px 7px -1px #000;
}

login-page .or {
  font-size: 18px;
  color: #FFF;
  text-align: center;
  margin-top: 30px;
}

login-page .register-link-wrapper {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

login-page .input-wrapper {
  display: block;
  padding-top: 10px;
}

login-page .background {
	background-image: url("../assets/background/background.jpg");
	background-repeat: no-repeat;
	background-size: 120% 750px;
	position: absolute;
	top:0px;
	left: 0px;
}
