.register {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.register-content {
  width: 80%;
  margin: 0 auto;
}

.register ion-input {
  width: 100%;
}

.register-button {
  margin-top: 20px;
}

.register-link-wrapper {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.field-error .item-inner {
  border-bottom-color: red !important;
  box-shadow: inset 0 -1px 0 0 red !important;
}