register-page .register-form-wrapper {
  margin-top: 100px;
}

register-page .form-background {
  width: 80%;
  background: rgba(0, 0, 0, 0.65);
  text-align: center;
  padding-top: 10px;
  margin: auto;
}

register-page .register {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

register-page .register-content {
  width: 80%;
  margin: 0 auto;
}

// Now in backgrounds.scss

register-page .background {
  background-image: url("../../assets/background/background.jpg");
  background-repeat: no-repeat;
	background-size: 250% 100%;
	background-position: 40% 0;
}

register-page .full-name, .username, .email, .password, .repeat-password {
  background-color: rgba(255, 0, 0, 0);
    border-bottom: 1px solid white;
    color: white;
}

register-page .register ion-input {
  width: 100%;
}

register-page .register-button {
  margin-top: 30px;
  margin-bottom: 15px;
  width: 60%;
	border: 1px solid #FFF;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  box-shadow: 0px 0px 7px -1px #000;
}

register-page .register-button-wrapper {
  width: 100%;
  text-align: center;
}

register-page .or {
  font-size: 18px;
  color: #FFF;
  text-align: center;
  margin-top: 20px;
}


register-page .register-link-wrapper {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

register-page .field-error .item-inner {
  border-bottom-color: red !important;
  box-shadow: inset 0 -1px 0 0 red !important;
}

register-page .back i {
  font-size: 50px;
  margin-left: 10px;
}

register-page .facebookSU-button-wrapper {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

register-page .facebookSU-button i {
  text-align: left;
  color: #FFF;
  padding-right: 32px;
}

register-page .facebookSU-button p {
  color: #FFF;
  display: inline;
  padding-right: 35px;
}

register-page .facebookSU-button {
  width: 240px;
  height: 45px;
  background: #3c66c4;
  border: 1px solid #3c66c4;
  border-radius: 5px;
  box-shadow: 0px 0px 7px -1px #000;
}
