home-menu-item {
    cursor: pointer;
}
home-menu-item ion-card-header{
    padding: 0px !important;
    font-weight: bold;
    color: white;
}

home-menu-item ion-card-content {
    padding: 0px !important;
}

home-menu-item .home-item-image {
    height: 110px;
}

home-menu-item .home-menu-item-wrapper {
    background-color: black;
    margin-top: -30px;
    opacity: 0.5;
}

home-menu-item .home-item-name {
    background: rgba(0.2, 0.2, 0.2, 0.7);
    position: sticky;
    margin-top: -35px;
    padding-left: 20px;
    color: white;
    text-shadow: 1px 1px 1px #000;
    font-size: 20px;
}

home-menu-item .home-item-description {
    font-size: 12px;
    padding: 5px;
    margin-left: 15px;
}
