item-scanner .item-scanner {
    position: absolute;
    bottom: 70px;
    right: 20px;
    background-color: lightgray;
    padding: 20px;
    font-size: 20px;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    text-align: center;
}
