
<ion-card>
    <!---<img src="" />-->
    <ion-card-header>

        <ion-card-title class='name'>Name: {{ itemData?.name }} </ion-card-title>
        <div class='packaging'>Packaging: {{ itemData?.packaging }} </div>

    </ion-card-header>

    <ion-card-content>
        <div class='image-container'>
             <img src=""> 
        </div>
        <div class='price'>Price: {{ itemData?.price }} </div>
        <div class='quantity'>Quantity: {{ itemData?.quantity }} </div>
        <div class='actions'>
            <a (click)='remove()'> Remove </a>
            |
            <a> Add to list </a>
        </div>

    </ion-card-content>

</ion-card>