shopping-cart-list-item .name{
    margin-top: -10px;
    font-weight: bold;
    font-size: 20px;
}

shopping-cart-list-item .packaging {
    color: #2d2d2d;
    font-size: 16px;
}

shopping-cart-list-item .image-container {
    max-width: 110px;
    height: 100px;
    margin-top: -70px;
    float: right;
}

shopping-cart-list-item img {
    max-height: 100px;
    width: auto;
}

shopping-cart-list-item .price {
    font-size: 15px;
    font-weight: bold;
    color: #207a00;
    clear: both;
}

shopping-cart-list-item .actions {
    text-align: right;
    margin-top: -22px;
}

shopping-cart-list-item a {
    color: #2d2d2d;
    font-weight: bold;
}

