header-page .header {
    position: absolute;
    width: 100%;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.65);
    background-image: url('../assets/header-pic/header.jpg');
}

header-page .back-wrapper {
    float: left;
}

header-page .back-wrapper i {
	font-size: 50px;
	margin-left: 15px;
	margin-top: 2px;
	color: #FFF;
}

header-page .title-wrapper {
    width: 100%;
    text-align: center;
}

header-page .title {
  	font-size: 26px;
    color: #FFF;
    margin-top: 10px;
}

header-page .menu-wrapper {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 20px;
}

header-page .menu-wrapper button {
    background: rgba(0.2, 0.2, 0.2, 0.10);
    border: 1px solid white;
    padding-bottom: 1px;
}

header-page .menu-wrapper ion-icon {
    color: white;
}
header-page .header .alert-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(150, 150, 150, 0.7);
}