header-page .header {
    position: absolute;
    width: 100%;
}

header-page .back-wrapper {
    float: left;
}

header-page .title-wrapper {
    width: 100%;
    text-align: center;
}

header-page .menu-wrapper {
    float: left;
}