<div class='header' *ngIf='!isWelcomePage()'>
    <div class='alert-wrapper'>
        <alert-page></alert-page>
    </div>
    <div class='back-wrapper' *ngIf='!isRootPage()'>
        <a (click)='goBack()'>
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
    </div>

    <div class='title-wrapper'>
        <div class='title'>
            {{ getPageTitle() }}
        </div>
    </div>

    <div class='menu-wrapper' *ngIf='userLoggedIn()'>
        <button right menuToggle>
            <ion-icon name="md-menu"></ion-icon>
        </button>
    </div>

</div>
