alert-page {
  position: absolute;
  top: 50px;
  left: 20%;
  width: 60%;
  height: auto;
  border-radius: 20px;
  text-align: center;
  background-color: #ffffff;
}
alert-page .box h2 {
    color: rgb(38, 38, 38);
    font-size: 20px;
}
alert-page .box article {
    font-size: 12px;
    padding: 10px 20px 30px 20px;
    font-weight: 570;
}
alert-page .box .btn-group {
    width: 100%;
    height: 30%;
}
alert-page .box .btn-group .btn {
    border-radius: 0 0 20px 20px !important;
    background-color: rgb(38, 38, 38);
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    color: white;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
}
alert-page .box .btn-group .btn2 {
    background-color: rgb(38, 38, 38);
    width: 50%;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
}
alert-page .box .btn-group .btn2 p {
    position: relative;
    left: 39%;
    display: inline;
    font-size: 16px;
    cursor: text; 
}
alert-page .box .btn-group .btn:hover {
    opacity: 0.8;
}
alert-page .box .btn-group .btn2:first-child {
    border-radius: 0 0 0 20px;
}
alert-page .box .btn-group .btn2:last-child {
    border-radius: 0 0 20px 0;
}
alert-page .box .btn-group .btn2:hover {
    opacity: 0.8;
}

