<ion-content class='background'>

    <div class='logo'>
        <img src="../../assets/logo/logo.png" />
    </div>

    <div class='title'>
	<h1> Welcome </h1>
	<p class='welcome-msg'> Welcome to Scan'N'Take. Sign up or register to shop faster than ever before. </p>
    </div>

	<div class='login-wrapper'>
    	<button class='login' (click)='goToLogin()'> Log In </button>
    </div>
    <div class='register-wrapper'>
    	<button class='register' (click)='goToRegister()'> Register </button>
    </div>
</ion-content>