h1 {
	color: #FFF;
	font-size: 2.3em;
}

welcome-page span {
	font-weight: bold;
}

welcome-page .background {
	background-image: url("../../assets/background/background.jpg");
	background-repeat: no-repeat;
	background-size: 250% 100%;
	background-position: 40% 0;
}

welcome-page .content-wrapper {
	background: rgba(0, 0, 0, 0.65);
	width: 100%;
	margin-top: 40%;
}

welcome-page .title {
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
}

welcome-page .welcome-msg {
	color: #FFF;
	font-size: 1.1em;
}

welcome-page .logo {
	margin-top: 60px;
	width: 100%;
	text-align: center;
	padding-top: 15px;
}

img {
	width: 80px;
}
/*
welcome-page .login-wrapper {
	width: 100%;
	text-align: center;
}

welcome-page .register-wrapper {
	width: 100%;
	text-align: center;
	display: inline-block;
}

welcome-page .login {
	width: 240px;
    height: 45px;
    background: #FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 7px -1px #000;
	color: #8bc34a;
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
}

welcome-page .register {
	width: 240px;
    height: 45px;
    background: #8bc34a;
    border: 1px solid #8bc34a;
    border-radius: 5px;
    box-shadow: 0px 0px 7px -1px #000;
	color: #FFF;
    font-weight: bold;
    font-size: 16px;
    margin-top: 15px;
}

welcome-page .button-divider {
	color: #FFF;
}*/

welcome-page .buttons-wrapper {
	background: rgba(0, 0, 0, 0.2);
	width: 60%;
	border: 1px solid #FFF;
	margin-left: 20%;
	border-radius: 5px;
}

welcome-page .login-wrapper {
	text-align: left;
	display: inline;
}

welcome-page .login {
	width: 30%;
	padding: 5px;
	color: #FFF;
    font-size: 1.2em;
	background:  rgba(0, 0, 0, 0);

}

welcome-page .register-wrapper {
	text-align: right;
	display: inline;
}

welcome-page .register {
	width: 35%;
	color: #FFF;
    font-size: 1.2em;
	background:  rgba(0, 0, 0, 0);
}

welcome-page .button-divider {
	display: inline;
	color: #FFF;
}

