h1 {
	color: #FFF;
	font-size: 25px;
}

welcome-page span {
	font-weight: bold;
}


// Now in backgrounds.scss
welcome-page .background {
	background-image: url("../assets/background/background.jpg");
	background-repeat: no-repeat;
	background-size: 120% 750px;
	position: absolute;
	top:0px;
	left: 0px;
}


welcome-page .content-wrapper {
	background: rgba(0, 0, 0, 0.65);
	width: 100%;
	margin-top: 40%;
	padding-bottom: 10px;
}

welcome-page .title {
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
}

welcome-page .welcome-msg {
	color: #FFF;
	font-size: 14px;
}

welcome-page .logo {
	margin-top: 60px;
	width: 100%;
	text-align: center;
	padding-top: 15px;
}

img {
	width: 80px;
}

/*
Old buttons style

=======
}

img {
	width: 100px;
}

>>>>>>> 1ef243d... Initial.
welcome-page .login-wrapper {
	width: 100%;
	text-align: center;
}

welcome-page .register-wrapper {
	width: 100%;
	text-align: center;
<<<<<<< HEAD
	display: inline-block;
=======
>>>>>>> 1ef243d... Initial.
}

welcome-page .login {
	width: 240px;
    height: 45px;
    background: #FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 7px -1px #000;
	color: #8bc34a;
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
}

welcome-page .register {
	width: 240px;
    height: 45px;
    background: #8bc34a;
    border: 1px solid #8bc34a;
    border-radius: 5px;
    box-shadow: 0px 0px 7px -1px #000;
	color: #FFF;
    font-weight: bold;
    font-size: 16px;
    margin-top: 15px;
<<<<<<< HEAD
}

welcome-page .button-divider {
	color: #FFF;
}*/

welcome-page .buttons-wrapper {
	background: rgba(0, 0, 0, 0.2);
    padding: 3px 20px;
	width: 70%;
	border: 1px solid #FFF;
	margin-left: 15%;
	border-radius: 5px;
	margin-bottom: 10px;
}

welcome-page .login-wrapper {
    width: 48%;
    margin-top: 9px;
	text-align: center;
    font-weight: bold;
    float: left;
}

welcome-page .login {
	display: inline;
	color: #FFF;
    font-size: 1.2em;
	background:  rgba(0, 0, 0, 0);

}

welcome-page .register-wrapper {
    width: 44%;
    margin-left: 5px;
    margin-top: 9px;
	text-align: center;
    font-weight: bold;
    float: right;
}

welcome-page .register {
	display: inline;
	color: #FFF;
    font-size: 1.2em;
	background:  rgba(0, 0, 0, 0);
}

welcome-page .button-divider {
	display: inline;
    margin: 0px;
	color: #FFF;
    font-size: 25px;
}
