login-page .background {
	background-image: url("../../assets/background/background.jpg");
	background-repeat: no-repeat;
	background-size: 250% 100%;
	background-position: 40% 0;
}

register-page .background {
  background-image: url("../../assets/background/background.jpg");
  background-repeat: no-repeat;
	background-size: 250% 100%;
	background-position: 40% 0;
}

welcome-page .background {
	background-image: url("../../assets/background/background.jpg");
	background-repeat: no-repeat;
	background-size: 250% 100%;
	background-position: 40% 0;
}