header-menu {
	height: 420px !important;
}
header-menu #logout {
	position: absolute;
	top: 264px;
	left: 1px;
}
header-menu .item-profile {
 	color: white;
 	background-color: rgb(38, 38, 38);
 	padding-top: 5px;
 	padding-bottom: 5px;
 	height: 80px;
}
header-menu .item-profile-inner {
	border-bottom: none; 	
}
header-menu .item-profile .img-circle {
	height: 20%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	width: 20%;
	border-radius: 50% !important;
}
header-menu .item-profile .profile {
	position: absolute;
	left: 85px;
	top: 30px;
	font-size: 20px;
}

